<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {             
                provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
                
                debug {
                  receive=on
                  autoreceive=on
                  lifecycle=on
                  event-stream=on
                  unhandled=on
                }
                serializers {
                  wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
                  json = "Akka.Serialization.NewtonSoftJsonSerializer"
                }
                
                serialization-bindings {
                  "System.Object" = json
                }               
                
              }
              remote {
                helios.tcp {
                  port = 8093
                  hostname = localhost
                }
              }
              
              
            }
          }
      ]]>
    </hocon>
  </akka>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
